* {
	color: hsl(0 0 4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Syne Variable', 'Syne', 'Atkinson Hyperlegible', Arial, Helvetica, sans-serif !important;
}
h1 {
	font-size: 2.6rem;
}
h2 {
	font-size: 2.4rem;
}
h3 {
	font-size: 2.2rem;
}
h4 {
	font-size: 2rem;
}
h5 {
	font-size: 1.8rem;
}
h6 {
	font-size: 1.6rem;
}

.subtitle {
	font-size: 1.25rem;
	text-align: center;
}
.intro-text {
	text-align: center;
	font-size: 1.15rem;
	text-wrap: balance;
}
/* 
input {
	outline: none;
	border: 2px solid var(--color-black);
	line-height: 1.55rem;
	font-size: 1.25rem;
	padding: 0.6rem;
	border-radius: 1rem;
}
input[type='email'] {
	border-color: var(--color-primary);
	border-width: 3px;
	padding-inline-start: 2rem;
} */
