---
export const prerender = true;

import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import ProfileImage from '../assets/profile.jpg';
import { FeaturedPost, NewsletterForm, Slot } from "../components/main";
import Base from "../layouts/base.astro";

// Get 1st FIVE LATEST posts
const posts = (await getCollection('post', (e) => import.meta.env.DEV ? true : !e.data.draft))
	.slice(0, 5)
	.map(post => ({ ...post.data, slug: post.slug }))
	.sort((a, b) => Number(b.published_at) - Number(a.published_at));
---

<Base title="Lazaro Osee">
	<Slot slot="head">
		<meta name="author" content="Lazaro Osee" />
		<meta 
			name="description" 
			content="The 'Official' Personnal Website and Blog of Lazaro Osee, an Architecture Student and a 'self taught' Software Developer" 
		/>
		<meta 
			name="keywords" 
			content="Lazaro, Osee, Architect, Web, Software, Developer, Blog, Posts" 
		/>
	</Slot>

	<main class="font-atkinson">
		<section class="hero">
			<div class="body">	
				<div class="l" style="flex: 1;">
					<h1 class="font-syne-var">Lazaro Osee</h1>
					<p class="subtitle">
						I am an Architecture Student and a <strong>self taught</strong> Software Developer
					</p>
					<div class="socials">
						<a title="Main Github Account" target="_blank" aria-label="Main Github Account" href="https://github.com/lazosee">
							<ion-icon style="font-size:32px;color:black;" name="logo-github"></ion-icon>
							<span data-sr>Main Github Account</span>
						</a>
						<a title="X Account" target="_blank" aria-label="X Account" href="https://x.com/thedevequation">
							<ion-icon src="/logo/twitter.svg" style="font-size: 26px;" ></ion-icon>
							<span data-sr>X Account</span>
						</a>
						<a title="Bluesky Profile" target="_blank" aria-label="Bluesky Profile" href="https://bsky.app/profile/lazaroosee.xyz">
							<ion-icon src="/logo/bluesky.svg" style="font-size: 26px;" ></ion-icon>
							<span data-sr>Bluesky Profile</span>
						</a>
						<a title="Facebook Account" target="_blank" aria-label="Facebook Account" href="https://www.facebook.com/profile.php?id=61579239389249">
							<ion-icon style="font-size:32px;color:#3d5a98;" name="logo-facebook"></ion-icon>
							<span data-sr>Facebook Profile</span>
						</a>
						<a title="Youtube Channel" target="_blank" aria-label="Youtube Channel" href="https://www.youtube.com/@lazosee">
							<ion-icon style="font-size:32px;color:red;" name="logo-youtube"></ion-icon>
							<span data-sr></span>
						</a>
					</div>

					<div class="hero-contact">
						<a 
							href="/contact"
							hreflang="en-us"
							title="contact me"
							class="button font-atkinson font-syne font-syne-var"
						>contact me</a>
					</div>
				</div>
				<div class="profile r">
					<Image alt="profile" src={ProfileImage} width="460" height="460" format="webp" about="profile image" loading="eager" quality="max" />
				</div>
			</div>
		</section>

		<section class="posts">
			<h2 class="font-syne-var">
				{/* <ion-icon size="medium" name="journal"></ion-icon> */}
				<span>Blog Posts</span>
			</h2>
			<p class="subtitle">
				Explore my latest blog posts and learn the cutting-edge concepts
			</p>
			<div class="post-items">
				<FeaturedPost data-key="0" post={posts[0]} data-post-item />
				<div class="items">
					{posts.slice(1).map((post, i) => (
						<FeaturedPost data-key={`${i+1}`} {post} data-post-item />
					))}
				</div>
			</div>
			<div class="posts-foot">
				<a href="/posts/" hreflang="en-us" class="btn">
					View All Posts
				</a>
			</div>
		</section>

		<section class="newsletter">
			<div class="body">
				<h2>Subscribe to my newsletter</h2>
				<!-- <p class="subtitle">
					Join my list of subscribers to get new content directly in your inbox instantly when they are created
				</p> -->
				<p class="subtitle">
					These are stuff that Lazaro learns and finds interesting. 
					It's usually under 200 words. Sometimes we make stuff together. 
					<br/>
					Get <strong>free</strong> and <strong>instant</strong> access now.
					<!-- Archives are <a href="https://archives.lazaroosee.xyz">here: archives.lazaroosee.xyz</a> -->
				</p>

				<NewsletterForm />
			</div>
		</section>
		
		<section class="projects">
			<h2 class="font-syne-var">Projects</h2>

			<div>
				<p class="subtitle">More projects will appear here...</p>
			</div>
		</section>
	</main>
</Base>

<style>
	/* ALL */
	main {
		justify-items: center;
	}
	section {
		padding: 1rem;
		/* border: 2px dashed hsl(246 60 60); */
	}

	/* HERO SECTION */
	.hero {
		display: block;
		justify-items: center;
		align-content: center;
		padding-bottom: 0;
		/* border: 2px dashed hsl(246 60 60); */
	}
	.hero .body {
		display: flex;
		flex-direction: column;
		min-height: 50svh;
		align-content: center;
		justify-content: space-between;
	}
	.hero .body div:not(.socials) {
		align-content: center;
		justify-items: flex-start;
		padding: 0.4rem;
		/* border: 2px solid red; */
	}
	.hero .body div:nth-child(1) {
		flex: 1;
	}
	.socials {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		/* border: 2px solid fuchsia; */
	}
	.socials a {
		display: flex;
		flex-direction: column;
		padding: 0.4rem;
		margin: 0.2rem;
	}
	.hero-contact {
		display: flex;
		height: auto;
		width: 100%;
		margin-block: 2rem 1rem;
		padding: 0;
		justify-content: center;
	}
	.hero-contact .button {
		padding: 0.5rem 2rem;
		font-family: 'Syne Variable', 'Syne', 'Inter';
		font-size: 1.45rem;
		border-radius: 0.6rem;
		transition: all 0.3s ease-in-out;
		border: 3px solid var(--color-primary);
		background-color: var(--color-accent);
		text-decoration: none;
	}
	.hero-contact .button:hover {
		background-color: hsl( from var(--color-accent) h s 80%);
	}
	.profile {
		flex: 0.8;
		width: auto;
	}
	.profile img {
		width: 100%;
		box-sizing: border-box;
		height: auto;
		aspect-ratio: 1;
		object-fit: cover;
		border-radius: 50%;
		border: 6px double hsl(0 0 60);
		mask: url('../assets/splatter-mask.png') center / 105% no-repeat;
		transition: mask-size 0.75s ease-in-out;
		transition-delay: 0.25s;
	}
	.hero:hover img, .hero:focus-visible img {
		mask-size: 250%;
		transition-delay: 0s;
	}

	/* POSTS SECTION */
	.posts {
		width: 94%;
		min-height: 20svh;
		margin-block-start: 2rem;
		padding: 1rem;
		padding-bottom: 3rem;
		border: 4px double var(--color-black);
		background-color: var(--color-accent);
		border-top-left-radius: 2rem;
		border-top-right-radius: 2rem;
		border-bottom: none;
		align-content: center;
		justify-items: center;
	}
	.posts h2 {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 0.6rem;
	}
	.posts div {
		justify-items: center;
		align-content: center;
	}
	.post-items {
	}
	[data-post-item] {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 1rem;
		margin-block: 1rem;
		border-radius: 1rem;
        background-color: rgba(180, 180, 180, 0.4);
	}
	.posts-foot {
		position: relative;
		box-sizing: border-box;
		width: 100%;
		justify-items: center;
		align-content: center;
		/* border: 2px solid var(--color-black); */
	}
	.btn {
		min-width: min(100%, 20rem);
		box-sizing: border-box;
		text-align: center;
		border: 3px double hsl(0 0 10);
		background-color:  hsl(from var(--color-primary) h s 76%);
	}
	.btn:hover {
		background-color: hsl(from var(--color-primary) h s 68%);
	}
	
	/* PROJECTS SECTION */
	.projects {
		width: 94%;
		min-height: 20svh;
		margin-block-end: 2rem;
		padding: 1rem;
		padding-top: 3rem;
		border: 4px double var(--color-black);
		background-color: var(--color-accent);
		border-bottom-left-radius: 2rem;
		border-bottom-right-radius: 2rem;
		border-top: none;
		align-content: center;
		justify-items: center;
	}

	/* NEWSLETTER SECTION */
	.newsletter {
		border: 4px solid var(--color-primary);
		background-image: url(../assets/envelope+out.jpg);
		background-size: cover;
		background-position: center;
		aspect-ratio: auto;
	}
	.newsletter, .newsletter h2, .newsletter div, .newsletter p {
		justify-items: center;
		align-content: center;
		width: 100%;
		background-color: transparent;
	}
	.newsletter .body {
		padding: 1rem 2rem;
		background-color: #ffffff66;
		backdrop-filter: blur(2px);
		border-radius: 2rem;
	}
	h2 {
		text-align: center;
	}
	.newsletter p {
		padding-inline: 1rem;
	}

	/* MEDIA QUERIES */
	@media (min-width: 580px) {
		.newsletter {
			background-image: url(../assets/envelope+in.jpg);
		}
	}
	@media (min-width: 768px) {
		section {
			padding: 1rem 5rem;
		}
		.hero .body {
			flex-direction: row;
			gap: 2rem;
		}
		.hero-contact {
			margin-top: 5rem;
			justify-content: flex-start;
		}
		.posts, .projects {
			min-width: 70%;
			max-width: 80%;
		}
		.posts {
			border-top-left-radius: 4rem;
			border-top-right-radius: 4rem;
		}
		.projects {
			border-bottom-left-radius: 4rem;
			border-bottom-right-radius: 4rem;
		}
		.socials {
			width: auto;
			justify-items: flex-start;
			align-content: center;
		}
		.newsletter {
			width: 90%;
			padding-bottom: 4rem;
			border-radius: 2rem;
			aspect-ratio: 16/8;
			background-image: url(../assets/envelope+flower.jpg);
		}
		.newsletter .body, .newsletter p {
			min-width: 70%;
			max-width: 80%;
		}
		.newsletter p {
			padding-inline: 3rem;
		}
	}

	@media (min-width: 980px) {
		.post-items .items {
			display: grid;
			gap: 1rem;
			grid-template-columns: repeat(2, 1fr);
		}
		.post-items > [data-post-item]:first-of-type:has([data-key="0"]) {
			justify-content: center;
			align-items: center;
			padding-inline: 2rem;
			margin-bottom: 1rem;
		}
		[data-post-item] {}
	}
</style>
