---
import '../styles/global.css';
type Props = {
    title: string;
}
const { title } = Astro.props;
---

<html lang="en-us">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
        <slot name="head" />
		<title>{title}</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" /> 
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>  
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	body {
		justify-items: center;
		align-content: center;
		background: 
			fixed
			linear-gradient(
				#070707,
				#070707 6px,
				transparent 6px,
				transparent
			),
			fixed
			linear-gradient(
				transparent,
				#fff 70%
			),
			fixed
			repeating-linear-gradient(
				#efefef,
				#efefef 1px,
				transparent 1px,
				transparent 40px
			), 
			fixed
			repeating-linear-gradient(
				to right,
				#efefef,
				#efefef 1px,
				transparent 1px,
				transparent 40px
			);
	}
</style>
